.ansi-black-fg { color: black; }
.ansi-red-fg { color: red; }
.ansi-green-fg { color: green; }
.ansi-yellow-fg { color: yellow; }
.ansi-blue-fg { color: blue; }
.ansi-magenta-fg { color: magenta; }
.ansi-cyan-fg { color: cyan; }
.ansi-white-fg { color: white; }

.ansi-bright-black-fg { color: gray; }
.ansi-bright-red-fg { color: #ff5555; }
.ansi-bright-green-fg { color: #50fa7b; }