html {
  overflow: hidden;
}

.card {
    box-sizing: border-box;
    padding: 10px;
    overflow-x: hidden;
    background-color: var(--el-bg-color);
    border: 1px solid var(--el-border-color-light);
    border-radius: 6px;
    box-shadow: 0 0 12px rgb(0 0 0 / 5%);
    flex:1;
  }

  .table-header {
    .header-button-lf {
      float: left;
    }
    .header-button-ri {
      float: right;
    }
    .el-button {
      margin-bottom: 15px;
    }
  }
  .main-box {
    display: flex;
    width: 100%;
    height: 100%;
    .table-box {
      // 这里减去的 230px 是 treeFilter 组件宽度
      width: calc(100% - 230px);
    }
  }
.table-box,
.table-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: calc(100% - $leftTreeWidth - 10px);
  height: 100%;
  gap: 10px;

  // table-search 表格搜索样式
  .table-search {
    padding: 18px 18px 0;
    margin-bottom: 10px;
    .el-form {
      .el-form-item__content > * {
        width: 100%;
      }

      // 去除时间选择器上下 padding
      .el-range-editor.el-input__wrapper {
        padding: 0 10px;
      }
    }
    .operation {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 18px;
    }
  }
}

// 通用布局
.flexCenter {
  display: flex;
  align-items: center;
  justify-content:center;
}

.gap-1 {
  gap: 10px
}
.gap-2 {
  gap: 2px
}
.gap-5 {
  gap: 5px
}
.flexJstart {
  display: flex;
  align-items: center;
  justify-content:flex-start;

}
.flexJbetween {
  display: flex;
  align-items: center;
  justify-content:space-between;

}
// div的垂直布局
.divVertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

// 。。。。做完必填对齐后，发现星号的位置可以调到右边！！！！
.requiredClass {
  margin-left: 0px;
}


// for 数组的列表显示样式
.listItem{
  border-left: 5px solid var(--el-border-color);
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
}
.listItem:hover {
  background-color: var(--el-color-primary-light-9);
}

// 文本...显示
.text_class {
  white-space: nowrap;
  /*强制单行显示*/
  text-overflow: ellipsis;
  /*文本超出部分省略号表示*/
  overflow: hidden;
  /*文本超出部分隐藏*/
  max-width: 200px;
  /*设置文本显示的最大宽度*/
  display: inline-block /*设为行内块元素*/;
  vertical-align: top;
  width: 200px;
}
.text_class:hover {
  overflow: visible;
  white-space: pre-wrap;
  text-overflow: clip;
  overflow-wrap: break-word;
}